@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>
    <link href="~/web/css/flag.icon.css" />

    <script>

        $(function () {

            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="index.html"><img src="~/web/images/logo2.jpg" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>Telefon : 05320000000</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Ana" asp-action="Index">Ana sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">Hakkımızda</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index2">Admin</a>
                        </li>
                    }
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blogum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Kayıt Ol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="CallBlogApi" asp-action="Index">Bloglar Api İle Çağırıldı</a>
                </li>
            </ul>
            <div class="nav-wrapper">
                <div class="sl-nav">
                    Diller:
                    <ul>
                        <li>
                            <b>Türkçe</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <div class="triangle"></div>
                            <ul class="language">

                                <li><a asp-controller="About" asp-action="ChangeLanguage" asp-route-culture="en-US" class="nav-link"><i class="flag-icon flag-icon-gb"></i> English</a></li>

                                <li><a asp-controller="About" asp-action="ChangeLanguage" asp-route-culture="fr-FR" class="nav-link"><i class="flag-icon flag-icon-fr"></i> Français</a></li>

                                <li><a asp-controller="About" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="nav-link"><i class="flag-icon flag-icon-tr"></i> Türkçe</a></li>

                            </ul>

                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>

    <div class"content">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>&copy; 2023 Tatil-Seyahat. Tüm Hakları Saklıdır</a></p>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
