@using WebTatilSitesi.Models.Classes 
@model List<BlogSinifi>
@{
	ViewBag.Title = "Index";
	var deger2 = @Model;
}

<div class="con-bot">
	@foreach (var x in Model)
	{
		<div class="left">
			<div class="bot-left">
				<img src="@x.BlogGorsel" alt="" />
			</div>
			<div class="left-text">
				<h4>@x.AnaBaslik</h4>
				<span class="doller">@x.Tarih</span>
				<p>Açıklama gelecek</p>
				<p><a href="/Blog/BlogDetayi/@x.ID"><span class="read">Devamını Oku >></span></a></p>
			</div>
		</div>
	}
	@*<partial name="~/Views/Ana/Partial2.cshtml">*@
		@*@Html.Partial("~/Views/Shared/Partial2.cshtml",Model)*@
	@*@await Html.PartialAsync("Partial2")*@
	@foreach (var d in deger2)
	{
		@await Html.PartialAsync("Partial2",d)
	}
	@*@Html.Partial("Partial2",@Model)*@
		<div class="clear"></div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
    }