@using WebTatilSitesi.Models.Classes
@model List<HakkimizdaSinifi>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AnaLayout.cshtml";
}
@inject LanguageService language



<div class="content">
	<div class="wrap">
		<div class="about">
			<h2 class="display-4">@language.GetKey("hosgeldiniz")</h2>
			@foreach (var x in Model)
			{
				<img src="@x.GorselUrl" alt="" />
                <p>@language.GetKey("@x.Aciklama")</p>
            }
			
		</div>
	</div>
</div>
